<!DOCTYPE html>
<html lang="hu">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ .Site.Title }}</title>
  <link rel="stylesheet" href="{{ "css/style.css" | relURL }}">
</head>
<body>
  <div class="layout">
    <aside class="sidebar">
      <div class="sidebar-title">
        <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
      </div>
      <nav>
        <ul>
          <li><a href="{{ .Site.Home.RelPermalink }}">Kezdőlap</a></li>
          <li>TESZT MENÜ</li>
          {{ range .Site.Sections }}
          <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
          {{ end }}
      </ul>
      </nav>
    </aside>
    <main class="main">
      {{ block "main" . }}{{ end }}
    </main>
  </div>
</body>
</html>
